.app{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.02);
      width: 100vw;
      height: 100vh;

    .calculator{
        background-color: #eaedef;
        width: 320px;
        height: 520px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 
            6px 20px 0 rgba(0,0,0,0.19);

        #result{
            height: 120px;
            .tooltip{
                // visibility: hidden;
            }
            #output-text{
                width: 250px;
                height: 120px;
                float:left;
            }
            #microphone{
                height:30px;
                width: 30px;
                float: right;
                background-image: url(mic.png);
                background-size: 100% 100%;
                border-radius: 50%;
                margin-top: 45px;
                margin-right: 10px;
                }
            .record{
                animation: microphone-animation 1.5s infinite;
            }
            #output-microphone:hover .tooltip{
                visibility: visible;
            }
            .tooltip{
                font-size: 10px;
                position: absolute;
                background-color: #dddddd;
                color:#636363;
                padding: 10px;
                top:155px;
                transform: translateX(50px);
                border-radius: 5px;
                 visibility: hidden;
            }
            .tooltip::before{
                content: '';
                position: absolute;
                border-width: 5px;
                border-style: solid;
                border-color: transparent #dddddd transparent transparent;
                margin-left: -10px;
                left: 0;
            }
            
        }
        #keyboard{
            height: 400px;
            font-weight: bolder;
        }
        #history{
            text-align: right;
            height: 20px;
            margin: 0 20px;
            font-size: 15px;
            color: #919191;
        }
        #output{
            text-align: right;
            height: 60px;
            margin: 10px 20px;
            font-size: 20px;
        }
        .operator,.number,.empty{
            width: 50px;
            height: 50px;
            float: left;
            margin: 15px;
            border-radius: 50%;
            border-width: 0;
        }
        .number,.empty{
            background-color:#eaedef;
        }
        .number,.operator{
            cursor: pointer;
        }
        .operator:active,.number:active{
            font-size: 16px;
        }
        .operator:focus ,.number:focus,.empty:focus{
            outline: none;
        }
        button:nth-child(4){
            font-size: 20px;
            background-color: #20b2aa;
        }
        button:nth-child(8){
            font-size: 20px;
            background-color: #ffa500;
        }
        button:nth-child(12){
            font-size: 20px;
            background-color: #f08080;
        }
        button:nth-child(16){
            font-size: 20px;
            background-color: #7d93e0;
        }
        button:nth-child(20){
            font-size: 20px;
            background-color: #9477af;
        }
        button{
            background-color: rgb(218, 218, 218);
        }
    }
}
@keyframes microphone-animation {
    0%{
        transform:scale(0.9) ;
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0,148,255,0.4);
    }
    100%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0,148,255,0);
    }
}